<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>root.viewblock-example</param-value>
	</context-param>
	
	<filter>
		<filter-name>viewblock</filter-name>
		<filter-class>viewblock.core.ViewblockFilter</filter-class>
		<async-supported>true</async-supported>
		
		<init-param>
			<param-name>config_properties</param-name>
			<param-value>			
			pack_scan=example.*
			spring=false
			jsp_template=/WEB-INF/block
			freemarker=true
			freemarker_template=/WEB-INF/block
			freemarker_delay=0
			freemarker_encode=UTF-8
			</param-value>
		</init-param>
	</filter>
	
	

</web-app>
