<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>root.viewblock-example</param-value>
	</context-param>

	<filter>
		<filter-name>viewblock</filter-name>
		<filter-class>com.github.liyiorg.viewblock.core.ViewblockFilter
		</filter-class>
		<init-param>
			<param-name>config_properties</param-name>
			<param-value>
				pack_scan=example.*
				spring=false
				jsp_template=/WEB-INF/block
				freemarker=true
				freemarker_template=/WEB-INF/block
				freemarker_delay=0
				freemarker_encode=UTF-8
			</param-value>
		</init-param>
	</filter>

	<!-- tomcat jsp -->
	<!-- <servlet>
		<servlet-name>jsp</servlet-name>
		<servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>fork</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>xpoweredBy</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jsp</servlet-name>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.jspx</url-pattern>
	</servlet-mapping> -->

	<!-- jetty jsp -->
	<!-- <servlet id="jsp">
		<servlet-name>jsp</servlet-name>
		<servlet-class>org.eclipse.jetty.jsp.JettyJspServlet</servlet-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>logVerbosityLevel</param-name>
			<param-value>DEBUG</param-value>
		</init-param>
		<init-param>
			<param-name>fork</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>xpoweredBy</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>compilerTargetVM</param-name>
			<param-value>1.7</param-value>
		</init-param>
		<init-param>
			<param-name>compilerSourceVM</param-name>
			<param-value>1.7</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jsp</servlet-name>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.jspf</url-pattern>
		<url-pattern>*.jspx</url-pattern>
		<url-pattern>*.xsp</url-pattern>
		<url-pattern>*.JSP</url-pattern>
		<url-pattern>*.JSPF</url-pattern>
		<url-pattern>*.JSPX</url-pattern>
		<url-pattern>*.XSP</url-pattern>
	</servlet-mapping>  -->

</web-app>
